.chat-inbox {
  width: 25%;
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 0.2rem;
}

.chat-inbox-header {
  padding: 2rem 0.75rem;
}

.chat-wrapper {
  width: 75%;
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  background-color: #ffffff;
  border-left: 1px solid #e4e4e4;
}

.chat-inbox-item {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  border: 0;
  background-color: #ffffff;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
  color: #404040;
  cursor: pointer;
}

.chat-inbox-item:hover {
  background-color: #f3f3f3;
}

.chat-inbox-item.active {
  background-color: #e0ebfa;
}

.chat-inbox-item-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  text-align: left;
  text-transform: capitalize;
}

.chat-inbox-item-message {
  font-size: 0.8rem;
  margin: 0;
}

.chat-btn {
  border: 0;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  color: #ffffff;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .chat-inbox {
    width: 40%;
  }

  .chat-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 595px) {
  .chat-inbox {
    width: 100%;
    display: none;
  }

  .chat-inbox.show,
  .chat-wrapper.show {
    display: block;
  }

  .chat-wrapper {
    width: 100%;
    display: none;
  }
}
