<div class="modal-header">
  <h5 class="modal-title">
    <span *ngIf="stock">Edit</span>
    <span *ngIf="!stock">New</span>
  </h5>
  <button class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="stockForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="stock-name">Stock name</label>
      <input
        type="text"
        placeholder="Stock name"
        id="stock-name"
        class="form-control"
        formControlName="name"
      />
    </div>

    <div class="d-grid">
      <button class="btn btn-full">
        <span *ngIf="stock">Save</span>
        <span *ngIf="!stock">Create</span>
      </button>
    </div>
  </form>
</div>
