<div class="modal-header">
  <button class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <div class="mb-2 border-bottom">
          <span>Author: </span>
          <span class="text-capitalize">
            {{ requisition.user?.lastname }}
            {{ requisition.user?.firstname }}
          </span>
        </div>

        <div class="mb-2 border-bottom">
          <span>Source: </span>
          <span class="text-capitalize">
            {{ requisition.department?.name }}
          </span>
        </div>

        <div class="mb-2">
          <span>Status: </span>
          <span class="badge bg-dark text-capitalize">
            {{ requisition.status }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label>Description</label>
    <div class="card">
      <div class="card-body">
        {{ requisition.description }}
      </div>
    </div>
  </div>

  <div class="mb-2">
    <label>Items</label>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped m-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Qty</th>
              <th>Unit Price</th>
              <th *ngIf="requisition.isBursar">Sub Total</th>
              <th class="text-end" *ngIf="requisition.isOwner">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of requisition.items; index as i">
              <tr>
                <td>{{ i + 1 }}.</td>
                <td class="text-capitalize">{{ item.stock?.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | number }}</td>
                <td *ngIf="requisition.isBursar">
                  {{ computeSubTotal(item) | number }}
                </td>
                <ng-container *ngIf="requisition.isOwner">
                  <td class="text-end">
                    <button
                      class="btn btn-sm btn-rounded btn-danger"
                      (click)="deleteItem(item)"
                    >
                      <div class="d-flex align-items-center small">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                      </div>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
            <tr *ngIf="requisition.isBursar">
              <td colspan="3"></td>
              <th>Total Amount</th>
              <th>{{ computeTotal() | number }}</th>
            </tr>
          </tbody>
        </table>
        <div class="d-grid mt-2" *ngIf="requisition.isOwner">
          <button class="btn btn-full" (click)="addItem()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bursar Actions -->
  <div
    class="text-end"
    *ngIf="requisition.isBursar && requisition.status === 'pending'"
  >
    <button
      class="btn btn-light btn-rounded me-2"
      (click)="bursarAction(RequisitionStatus.CANCELED)"
    >
      Cancel
    </button>
    <button
      class="btn btn-full"
      (click)="bursarAction(RequisitionStatus.RECOMMENDED)"
    >
      Recommend
    </button>
  </div>
  <!-- Bursar Actions -->

  <!-- Auditor Actions -->
  <div
    class="text-end"
    *ngIf="requisition.isAuditor && requisition.status === 'recommended'"
  >
    <button
      class="btn btn-light btn-rounded me-2"
      (click)="auditorAction(RequisitionStatus.CANCELED)"
    >
      Cancel
    </button>
    <button
      class="btn btn-full"
      (click)="auditorAction(RequisitionStatus.VERIFIED)"
    >
      Verify
    </button>
  </div>
  <!-- Auditor Actions -->

  <!-- Rector Actions -->
  <div
    class="text-end"
    *ngIf="requisition.isRector && requisition.status === 'verified'"
  >
    <button
      class="btn btn-light btn-rounded me-2"
      (click)="rectorAction(RequisitionStatus.CANCELED)"
    >
      Cancel
    </button>
    <button
      class="btn btn-full"
      (click)="rectorAction(RequisitionStatus.APPROVED)"
    >
      Approve
    </button>
  </div>
  <!-- Rector Actions -->
</div>
