<app-main-navbar></app-main-navbar>
<div class="app-content-wrapper">
  <app-main-sidebar></app-main-sidebar>
  <div class="main-content">
    <div class="container">
      <h1 class="title-text">Analytics Overview</h1>

      <div class="row my-3">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-md-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane">
                  <fa-icon [icon]="faUsers"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.userCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Users</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-md-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane icon-bg-blue">
                  <fa-icon [icon]="faBookJournalWhills"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.departmentCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Departments</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-md-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane">
                  <fa-icon [icon]="faBookBookmark"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.requisitionCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Requisitions</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-md-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane icon-bg-blue">
                  <fa-icon [icon]="faReceipt"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.orderCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Orders</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
