<app-main-navbar></app-main-navbar>
<div class="app-content-wrapper">
  <app-main-sidebar></app-main-sidebar>
  <div class="main-content">
    <div class="container my-2">
      <h1 class="title-text">Analytics Overview</h1>

      <div class="row my-3">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane">
                  <fa-icon [icon]="faUsers"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.userCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Users</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane icon-bg-blue">
                  <fa-icon [icon]="faBookJournalWhills"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.departmentCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Departments</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane">
                  <fa-icon [icon]="faBookBookmark"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.requisitionCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Requisitions</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
          <div class="card analytic-card">
            <div class="card-body">
              <p class="mb-2">
                <span class="icon-pane icon-bg-blue">
                  <fa-icon [icon]="faReceipt"></fa-icon>
                </span>
              </p>
              <p class="big-text">
                <ng-container *ngIf="analytics">
                  {{ analytics.orderCount | truncateNumber }}
                </ng-container>
              </p>
              <p class="fw-bold small text-muted">Orders</p>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="credentials && credentials.role === 'hod'">
        <div class="mb-3">
          <h1 class="title-text">Purchased Requisitions</h1>
          <app-requisition-list
            [filters]="{ status: 'purchased' }"
          ></app-requisition-list>
        </div>
      </ng-container>

      <ng-container *ngIf="credentials && credentials.role === 'bursar'">
        <div class="mb-3">
          <h1 class="title-text">Pending Requisitions</h1>
          <app-requisition-list
            [filters]="{ status: 'pending' }"
          ></app-requisition-list>
        </div>
      </ng-container>

      <ng-container *ngIf="credentials && credentials.role === 'auditor'">
        <div class="mb-3">
          <h1 class="title-text">Recommendations</h1>
          <app-recommendation-list
            [filters]="{ status: 'recommended' }"
          ></app-recommendation-list>
        </div>
      </ng-container>

      <ng-container *ngIf="credentials && credentials.role === 'rector'">
        <div class="mb-3">
          <h1 class="title-text">Audits</h1>
          <app-audit-list [filters]="{ status: 'verified' }"></app-audit-list>
        </div>
      </ng-container>

      <ng-container
        *ngIf="credentials && credentials.role === 'purchase_officier'"
      >
        <div class="mb-3">
          <h1 class="title-text">Approved Requisitions</h1>
          <app-requisition-list
            [filters]="{ status: 'approved' }"
          ></app-requisition-list>
        </div>
      </ng-container>

      <ng-container *ngIf="credentials && credentials.role === 'stock_manager'">
        <div class="mb-3">
          <h1 class="title-text">Pending Orders</h1>
          <app-order-list [filters]="{ status: 'pending' }"></app-order-list>
        </div>
      </ng-container>
    </div>
  </div>
</div>
