<ul class="nav flex-column sidebar-nav">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard"
      [ngClass]="{ active: currentURL === '/dashboard' }"
    >
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faTachometer"></fa-icon>
        Dashboard
      </div>
    </a>
  </li>
  <ng-container *ngIf="credentials && credentials.role === 'admin'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/users"
        [ngClass]="{ active: currentURL === '/users' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faUsers"></fa-icon>
          Users
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'admin'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/departments"
        [ngClass]="{ active: currentURL === '/departments' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faBookJournalWhills"></fa-icon>
          Departments
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container
    *ngIf="
      credentials &&
      (credentials.role === 'hod' || credentials.role === 'stock_manager')
    "
  >
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/requisitions"
        [ngClass]="{ active: currentURL === '/requisitions' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faBookBookmark"></fa-icon>
          Requisitions
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container
    *ngIf="
      credentials &&
      (credentials.role === 'stock_manager' || credentials.role === 'hod')
    "
  >
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/orders"
        [ngClass]="{ active: currentURL === '/orders' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faListAlt"></fa-icon>
          Orders
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'stock_manager'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/stocks"
        [ngClass]="{ active: currentURL === '/stocks' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faCartShopping"></fa-icon>
          Stocks
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'bursar'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/recommendations"
        [ngClass]="{ active: currentURL === '/recommendations' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faShare"></fa-icon>
          Recommendations
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'auditor'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/audits"
        [ngClass]="{ active: currentURL === '/audits' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faShare"></fa-icon>
          Audits
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'rector'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/verifications"
        [ngClass]="{ active: currentURL === '/verifications' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faNewspaper"></fa-icon>
          Verifications
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'purchase_officier'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/purchase-history"
        [ngClass]="{ active: currentURL === '/purchase-history' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faHistory"></fa-icon>
          Purchase History
        </div>
      </a>
    </li>
  </ng-container>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/chats"
      [ngClass]="{ active: currentURL.includes('/chats') }"
    >
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faComments"></fa-icon>
        <div class="notify-badge-pane">
          Chat
          <span class="notify-badge">1</span>
        </div>
      </div>
    </a>
  </li>
</ul>
