<ul class="nav flex-column sidebar-nav">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/dashboard"
      [ngClass]="{ active: currentURL === '/dashboard' }"
    >
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faTachometer"></fa-icon>
        Dashboard
      </div>
    </a>
  </li>
  <ng-container *ngIf="credentials && credentials.role === 'admin'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/users"
        [ngClass]="{ active: currentURL === '/users' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faUsers"></fa-icon>
          Users
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'admin'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/departments"
        [ngClass]="{ active: currentURL === '/departments' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faBookJournalWhills"></fa-icon>
          Departments
        </div>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="credentials && credentials.role === 'hod'">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/requisitions"
        [ngClass]="{ active: currentURL === '/requisitions' }"
      >
        <div class="d-flex align-items-center">
          <fa-icon [icon]="faBookJournalWhills"></fa-icon>
          Requisitions
        </div>
      </a>
    </li>
  </ng-container>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/chats"
      [ngClass]="{ active: currentURL.includes('/chats') }"
    >
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faComments"></fa-icon>
        <div class="notify-badge-pane">
          Chat
          <span class="notify-badge">1</span>
        </div>
      </div>
    </a>
  </li>
</ul>
