<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faAlignLeft" class="me-3 logo"></fa-icon>
      <span class="fw-bold">SMS</span>
      <span class="red-dot ms-1"></span>
    </a>

    <div class="ms-auto dropdown">
      <button class="btn d-flex align-items-center" data-bs-toggle="dropdown">
        <img src="assets/avatar.svg" alt="" class="avatar me-2" />
        <div class="text-start me-2 user-details-pane" *ngIf="credentials">
          <p class="m-0 small fw-bold">
            {{ credentials.name }}
          </p>
          <p class="m-0 small">
            {{ credentials.role.split("_").join(" ") }}
          </p>
        </div>
        <fa-icon [icon]="faChevronDown" class="ms-2"></fa-icon>
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <button (click)="logout()" class="dropdown-item">
            <fa-icon [icon]="faPowerOff" class="me-2 text-danger"></fa-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div style="height: 10vh"></div>
