<div class="d-flex mb-2">
  <span class="me-2">
    <img src="assets/avatar.svg" alt="avatar" class="avatar" />
  </span>
  <div class="w-100">
    <div class="card bg-light">
      <div class="card-body p-2">
        <h5 class="small mb-1 fw-bold text-capitalize">
          {{ comment.user?.lastname }} {{ comment.user?.firstname }}
        </h5>
        <p class="m-0">
          {{ comment.content }}
        </p>
      </div>
    </div>
    <p class="small text-muted">{{ comment.createdAt | date }}</p>
  </div>
</div>
