<div class="login-wrapper">
  <div>
    <div class="text-center mb-3">
      <img src="assets/logo.png" alt="imopoly logo" class="logo" />
      <p class="fw-bold pt-2">Stationary Management System</p>
    </div>
    <div class="card rounded-card">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email"> Email </label>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
          </div>

          <div class="mb-3">
            <label for="password"> Password </label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
          </div>

          <div class="text-center">
            <button class="btn btn-full" [disabled]="processing">
              Login
              <fa-icon
                [icon]="faSpinner"
                [spin]="processing"
                [hidden]="!processing"
              ></fa-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="py-3 text-center">
      <a href="javascript: void(0)" class="small" (click)="resetPassword()">
        Forgotten password?
      </a>
    </div>
  </div>
</div>
