<div class="card rounded-card">
  <div class="card-body">
    <!-- Header -->
    <ng-container *ngIf="showMenu">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-light btn-rounded"
            data-bs-toggle="dropdown"
          >
            Filter By:
            <span *ngIf="!filters.status">All</span>
            <span *ngIf="filters.status">{{ filters.status }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start">
            <li>
              <button class="dropdown-item" (click)="filterBy('')">All</button>
            </li>
            <ng-container *ngFor="let status of requisitionStatus">
              <li>
                <button
                  class="dropdown-item text-capitalize"
                  (click)="filterBy(status)"
                >
                  {{ status }}
                </button>
              </li>
            </ng-container>
          </ul>
        </div>

        <div>
          <button class="btn btn-sm btn-full" (click)="createRequisition()">
            New requisition
          </button>
        </div>
      </div>
    </ng-container>
    <!-- Header -->

    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Date created</th>
          <th>Status</th>
          <th>Department</th>
          <th>Through</th>
          <th>Destination</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let requisition of requisitions; index as i">
          <tr>
            <td>{{ i + 1 }}.</td>
            <td>{{ requisition.createdAt | date }}</td>
            <td class="text-capitalize">
              <ng-container [ngSwitch]="requisition.status">
                <span
                  class="badge rounded-pill bg-success"
                  *ngSwitchCase="RequisitionStatus.VERIFIED"
                >
                  {{ requisition.status }}
                </span>

                <span
                  class="badge rounded-pill bg-danger"
                  *ngSwitchCase="RequisitionStatus.CANCELED"
                >
                  {{ requisition.status }}
                </span>

                <span
                  class="badge rounded-pill bg-secondary"
                  *ngSwitchCase="RequisitionStatus.PENDING"
                >
                  {{ requisition.status }}
                </span>

                <span class="badge rounded-pill bg-dark" *ngSwitchDefault>
                  {{ requisition.status }}
                </span>
              </ng-container>
            </td>
            <td class="text-capitalize">
              {{ requisition.department?.name }}
            </td>
            <td class="text-capitalize">
              {{ requisition.through | role }}
            </td>
            <td class="text-capitalize">
              {{ requisition.destination | role }}
            </td>
            <td class="dropdown text-end">
              <button class="btn btn-sm btn-light" data-bs-toggle="dropdown">
                <div class="d-flex justifycontent-between align-items-center">
                  More
                  <fa-icon [icon]="faChevronDown" class="ms-2"></fa-icon>
                </div>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <button
                    class="dropdown-item"
                    (click)="viewDetails(requisition)"
                  >
                    <div class="d-flex align-items-center">
                      <fa-icon [icon]="faList" class="me-2"></fa-icon>
                      Details
                    </div>
                  </button>

                  <button
                    class="dropdown-item"
                    (click)="viewComments(requisition)"
                  >
                    <div class="d-flex align-items-center">
                      <fa-icon [icon]="faComment" class="me-2"></fa-icon>
                      Comment
                    </div>
                  </button>

                  <!-- <ng-container *ngIf="requisition?.isBursar">
                    <button
                      class="dropdown-item"
                      (click)="editRequisition(requisition)"
                    >
                      <div class="d-flex align-items-center">
                        <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                        Recommend
                      </div>
                    </button>
                    <button
                      class="dropdown-item"
                      (click)="editRequisition(requisition)"
                    >
                      <div class="d-flex align-items-center">
                        <fa-icon
                          [icon]="faTimesCircle"
                          class="me-2 text-danger"
                        ></fa-icon>
                        Cancel
                      </div>
                    </button>
                  </ng-container> -->

                  <ng-container *ngIf="requisition.isOwner">
                    <button
                      class="dropdown-item"
                      (click)="editRequisition(requisition)"
                    >
                      <div class="d-flex align-items-center">
                        <fa-icon [icon]="faPen" class="me-2"></fa-icon>
                        Edit
                      </div>
                    </button>
                    <button
                      class="dropdown-item"
                      (click)="deleteRequisition(requisition)"
                    >
                      <div class="d-flex align-items-center">
                        <fa-icon [icon]="faTrashAlt" class="me-2"></fa-icon>
                        Delete
                      </div>
                    </button>
                  </ng-container>
                </li>
              </ul>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <!-- Footer -->
    <div class="d-flex justify-content-between align-items-center">
      <p class="mb-0 small text-muted">
        &laquo;&nbsp;{{ currentPage }} of {{ totalPages }}&nbsp;&raquo;
      </p>

      <ng-container *ngIf="totalPages > currentPage">
        <button class="btn btn-sm btn-full">Load more</button>
      </ng-container>
    </div>
    <!-- Footer -->
  </div>
</div>
