<div class="modal-header">
  <h5 class="modal-title">Reset Password</h5>
  <button class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <ng-container *ngIf="isMainView">
    <form [formGroup]="emailForm" (ngSubmit)="identifyUser()">
      <div class="mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="email"
          [ngClass]="{
            'border-danger':
              emailForm.controls['email'].touched &&
              emailForm.controls['email'].errors
          }"
        />
      </div>
      <div class="d-grid">
        <button class="btn btn-full">
          Next
          <i class="fas fa-spinner fa-spin ms-2" [hidden]="!processing"></i>
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="isResetView">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="New Password"
          formControlName="newPassword"
          [ngClass]="{
            'border-danger':
              resetPasswordForm.controls['newPassword'].touched &&
              resetPasswordForm.controls['newPassword'].errors
          }"
        />
      </div>

      <div class="d-grid">
        <button class="btn btn-full">
          Confirm
          <i class="fas fa-spinner fa-spin ms-2" [hidden]="!processing"></i>
        </button>
      </div>
    </form>
  </ng-container>
</div>
